@page
@model az_webapp_kaycee.Pages.DeploymentSlot
@{
    ViewData["Title"] = "Deployment Slots page";
}

<h2>@ViewData["Title"]</h2>

<div class="text-center">
    <h1 class="display-4">Testing Deployment Slot.</h1>    
</div>