@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Keith</h1>
    <p>Here is your hosted project in <strong>Azure</strong></p>
    <div>
             @ViewData["Greeting"]
    </div>
</div>
 